/* -------------------------------- VARIABLES ------------------------------- */

:root {
    --dark-blue: hsl(243, 87%, 12%);
    --desat-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-gray-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

/* ---------------------------------- RESET --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                BASIC STYLING                               */
/* -------------------------------------------------------------------------- */

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-blue);
    overflow: auto;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 0.85rem;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
    transition: color 0.3s ease-in-out;
    font-size: 0.8rem;
    display: inline-block;
}

p {
    font-size: 0.9rem;
}

ul {
    list-style: none;
}

img {
    width: 20%;
    display: inline-block;
}

input {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--desat-blue);
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
}

/* -------------------------------------------------------------------------- */
/*                                    UTILS                                   */
/* -------------------------------------------------------------------------- */
.container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark {
    color: var(--dark-blue);
}

.light {
    color: var(--light-gray);
}

.white {
    color: white;
}


.btn {
    width: 100%;
    padding: 10px 20px;
    color: white;
    background-color: var(--bright-blue);
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.illustrations img {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 10px 0 10px; */
    padding: 15px;
    position: fixed;
    background-color: white;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;

}

nav .logo img {
    width: 50%;
}

nav .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navbar li {
    margin-right: 6px;
}

nav .navbar li:last-child {
    margin-right: 0;
}

nav .navbar li a {
    font-size: 0.9rem;
}

nav .navbar li a:hover {
    color: var(--bright-blue);
}

/* -------------------------------------------------------------------------- */
/*                              FEATURES SECTION                              */
/* -------------------------------------------------------------------------- */
.features {
    padding-top: 80px;

    height: 900px;
    /* margin-top: 80px; */
    text-align: center;
    margin-bottom: 200px;
}

.features .features-content {
    margin: 40px 0 40px 0;
}

.features .features-content h1 {
    line-height: 1.4;
}

.features .features-content p {
    margin-top: 30px;
    line-height: 1.6;
}

.features .features-content form {
    margin-top: 30px;
}

/* -------------------------------------------------------------------------- */
/*                                TEAM SECTION                                */
/* -------------------------------------------------------------------------- */
.team {
    /* margin-top: 100px; */
    height: 1200px;
    padding-top: 90px;
    background-image: url("./images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-size: 460% 100%;
    background-position: center center;
}

.team h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;

}

.team .lead {
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;

}

.team .link {
    color: var(--moderate-cyan);
    font-size: 1rem;
    margin-top: 40px;
    width: 70%;
    position: relative;
    padding-bottom: 10px;
    text-align: center;

}

.team .link::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--moderate-cyan);
    width: 83%;
    height: 1px;
    left: 32px;
    top: 30px;
}

.team .link img {
    width: 8%;
    position: absolute;
    left: 90%;
    top: 3px;
}

.card {
    margin-top: 40px;
    width: 95%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 6%;
    text-align: left;
}

.card .card-content {
    line-height: 1.6;
}

.card .testimonial {
    display: flex;
    margin-top: 20px;
    align-items: center;

}

.card .testimonial img {
    width: 15%;
    border-radius: 50%;
    margin-right: 10px;
}

.card .testimonial span {
    font-size: 0.7rem;
}


/* -------------------------------------------------------------------------- */
/*                               SIGN IN SECTION                              */
/* -------------------------------------------------------------------------- */
.sign-in {
    padding-top: 20px;
    padding-bottom: 90px;
    /* margin-top: 100px; */
    background-color: var(--desat-blue);
    text-align: center;
}

.sign-in .sign-in-desc p {
    line-height: 1.6;
    margin: 25px 0;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
    background-color: var(--dark-blue);
    padding: 65px 0;
}

.footer-container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

footer .footer-logo {
    margin: 0 auto;
    text-align: center;
}

footer .footer-logo img {
    width: 60%;
}

footer .contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

footer .contact a {
    color: var(--light-gray);
    font-size: 1rem;
}

footer .contact img {
    width: 6%;
    margin-right: 10px;
}

footer .contact ul {
    margin-bottom: 20px;
}

footer .contact ul li {
    margin-bottom: 20px;
}

.socials {
    margin: auto;
}

.socials a {
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    border-radius: 50%;
    color: white;
    margin: 5px 5px 5px 0;
    transition: all 0.3s ease-in-out;
}

.socials a:hover {
    background-color: white;
    color: var(--dark-blue);

}

.socials a i {
    width: 30px;
    padding: 5px;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
/* small tablet styles */
@media screen and (min-width: 620px) {

    .container,
    .footer-container {
        max-width: 510px;
    }

    nav {
        justify-content: space-between;
        padding: 25px;
    }

    nav .navbar li {
        margin-right: 13px;
    }

    .team .link img {
        left: 74%;
        top: -2px;
    }

    .team .link::after {
        width: 52%;
        left: 101px;
    }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }

    nav {
        padding: 15px 90px 15px 90px;
    }

    .container {
        max-width: 900px;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;

    }

    .illustrations {
        order: 2;
        margin-left: 50px;
    }

    .features {
        margin-bottom: 100px;
        height: 60vh;
    }

    .features form {
        display: flex;
    }

    .features .btn {
        height: 35px;
        width: 45%;
        margin-left: 10px;
    }

    .team {
        height: 800px;
        padding-top: 50px;
        background-image: url("./images/bg-curve-desktop.svg");
    }

    .team h2,
    .team .lead,
    .team .link {
        text-align: initial;
    }

    .team .link::after {
        left: 0;
        width: 60%;
    }

    .team .link img {
        left: 53%;
        top: 0px;
    }

    .sign-in {
        padding-top: 40px;
    }

    .sign-in .sign-in-desc {
        width: 50%;
    }

    .sign-in .btn {
        width: 50%;
    }

    .footer-container {
        max-width: 900px;
    }
    footer .footer-logo img {
        width: 20%;
    }

    footer .contact {
        flex-direction: row;
        justify-content: space-between;
    }

    .socials {
        margin: initial;
    }

}

/* desktop styles */
@media screen and (min-width: 1440px) {
    body {
        font-size: 20px;
    }

    .container, .footer-container {
        max-width: 1100px;
    }

}