/* -------------------------------- VARIABLES ------------------------------- */

:root {
    --dark-blue:hsl(243, 87%, 12%);
    --desat-blue:hsl(238, 22%, 44%);
    --bright-blue:hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-gray-blue:hsl(240, 75%, 98%);
    --light-gray:hsl(0, 0%, 75%);
}

/* ---------------------------------- RESET --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                BASIC STYLING                               */
/* -------------------------------------------------------------------------- */

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-blue);
    overflow: auto;
    scroll-behavior: smooth;
}

h1,h2,h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 0.75rem;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
    transition: color 0.3s ease-in-out;
    font-size: 0.8rem;
}

p {
    font-size: 0.9rem;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: inline-block;
}

input {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--desat-blue);
    margin-bottom: 10px;
    border-radius: 3px;

}

/* -------------------------------------------------------------------------- */
/*                                    UTILS                                   */
/* -------------------------------------------------------------------------- */
.container {
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
}

.btn {
    width: 100%;
    padding: 10px 20px;
    color: white;
    background-color: var(--bright-blue);
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 10px;
    padding: 20px;
    position: fixed;
    background-color: white;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;

}

nav .logo img {
    width: 60%;
}

nav .navbar {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

nav .navbar li {
    margin-right: 25px;
}

nav .navbar li:last-child {
    margin-right: 0;
}

nav .navbar li a:hover {
    color: var(--bright-blue);
}

/* -------------------------------------------------------------------------- */
/*                              FEATURES SECTION                              */
/* -------------------------------------------------------------------------- */
.features {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* margin-top: 80px; */
    text-align: center;
}

.features .features-content {
    margin: 40px 0 40px 0;
}

.features .features-content h1 {
    line-height: 1.4;
}

.features .features-content p {
    margin-top: 30px;
    line-height: 1.6;
}

.features .features-content form {
    margin-top: 30px;
}